<div>
  <link href="./cardul.css" rel="stylesheet" />
  <div class="cardul-card">
    <div class="cardul-avatar">
      <img
        alt="image"
        src="/playground_assets/light-avatar.svg"
        class="cardul-avatar1"
      />
    </div>
    <div class="cardul-row">
      <div class="cardul-main">
        <div class="cardul-content">
          <h2 class="cardul-header">
            <span>Create yourself for the metaverse</span>
          </h2>
          <p class="cardul-description">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliquat enim
              ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            </span>
          </p>
        </div>
        <button class="cardul-learn button">
          <span class="cardul-text"><span>Learn more</span></span>
          <img
            alt="image"
            src="/playground_assets/arrow-2.svg"
            class="cardul-image"
          />
        </button>
      </div>
      <div class="componeta-wai-container">
        <img
          alt="image"
          src="/playground_assets/group%202262.svg"
          class="componeta-wai-image"
        />
      </div>
    </div>
  </div>
</div>
