<div>
  <link href="./content2.css" rel="stylesheet" />
  <div class="content2-content">
    <div class="content2-main">
      <div class="content2-heading">
        <h2 class="content2-header"><span>Create your character now</span></h2>
        <p class="content2-caption">
          <span>
            A character custom collection is joining the NFT space on Opensea.
          </span>
        </p>
      </div>
      <button class="content2-view button"><span>View on Opensea</span></button>
    </div>
    <img
      alt="image"
      src="/playground_assets/group%202273.svg"
      class="content2-image"
    />
  </div>
</div>
