<div>
  <link href="./description.css" rel="stylesheet" />
  <section class="description-description">
    <div class="divider-image-container">
      <img
        alt="image"
        src="/playground_assets/hero-divider-200h.png"
        class="divider-image-divider-image"
      />
    </div>
    <div class="description-container">
      <div class="description-description1">
        <div class="description-content">
          <p class="description-paragraph">
            <span>
              We are a team of digital aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat.
            </span>
          </p>
          <p class="description-paragraph1">
            <span>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum. Nemo enim ipsam
              voluptatem quia voluptas sit aspernatur aut odit aut fugit.
            </span>
          </p>
        </div>
        <div class="description-links">
          <a
            href="https://twitter.com"
            target="_blank"
            rel="noreferrer noopener"
            class="button-link button"
          >
            <span><span>Follow us on Twitter</span></span>
            <img
              alt="image"
              src="/playground_assets/arrow.svg"
              class="description-arrow"
            />
          </a>
          <a
            href="https://discord.com"
            target="_blank"
            rel="noreferrer noopener"
            class="description-link1 button-link button"
          >
            <span><span>Join us on Discord</span></span>
            <img
              alt="image"
              src="/playground_assets/arrow.svg"
              class="description-arrow1"
            />
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
