<div>
  <link href="./get-yours.css" rel="stylesheet" />
  <section class="get-yours-get-yours">
    <div class="get-yours-row">
      <div class="get-yours-column">
        <div class="get-yours-card">
          <img
            alt="image"
            src="/playground_assets/character-9.svg"
            class="get-yours-image"
          />
        </div>
      </div>
      <div class="get-yours-column1">
        <div class="get-yours-card1">
          <img
            alt="image"
            src="/playground_assets/character-10.svg"
            class="get-yours-image1"
          />
        </div>
      </div>
    </div>
    <div class="get-yours-column2">
      <div class="get-yours-card2">
        <div class="get-yours-content">
          <h2 class="get-yours-header"><span>Get yours now</span></h2>
          <p class="get-yours-description">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliquat enim
              ad minim veniam.
            </span>
          </p>
        </div>
        <button class="get-yours-button button">
          <span>View on Opensea</span>
        </button>
      </div>
    </div>
  </section>
</div>
