.component1-container {
  display: flex;
  position: relative;
}
.component1-image {
  width: 480px;
  object-fit: cover;
}
@media(max-width: 767px) {
  .component1-image {
    width: 100%;
  }
}

.understand-understand {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.understand-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.understand-caption {
  color: rgb(255, 207, 119);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.understand-heading {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.understand-header {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
}
.understand-header1 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 27px;
}
.understand-view {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  text-align: left;
  align-items: center;
  flex-direction: row;
}
.understand-image {
  width: 25px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .understand-understand {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .understand-understand {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .understand-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .understand-heading {
    gap: var(--dl-space-space-unit);
  }
  .understand-header {
    font-size: 32px;
    letter-spacing: 0;
  }
  .understand-header1 {
    font-size: 14px;
    line-height: 21px;
  }
  .understand-view {
    margin-top: var(--dl-space-space-unit);
  }
}
