<div>
  <link href="./understand.css" rel="stylesheet" />
  <div class="understand-understand">
    <div class="understand-content">
      <span class="understand-caption"><span>Project</span></span>
      <div class="understand-heading">
        <h2 class="understand-header"><span>Understand the project</span></h2>
        <p class="understand-header1">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </span>
        </p>
      </div>
      <button class="understand-view button-link button">
        <span><span>Learn More</span></span>
        <img
          alt="image"
          src="/playground_assets/arrow.svg"
          class="understand-image"
        />
      </button>
    </div>
    <div class="component1-container">
      <img
        alt="image"
        src="/playground_assets/group%202415.svg"
        class="component1-image"
      />
    </div>
  </div>
</div>
